#!/bin/bash

case "$1" in
    start)
    echo === Starting CMS Selection ===
    echo start all: $(/bin/date) >> control.log
    (cd tomcat-cms; ./control start)
    (cd tomcat-site1; ./control start)
    (cd tomcat-site2; ./control start)
    (cd apache; ./control start)
    ;;

    stop)
    echo === Stopping CMS Selection ===
    echo stop all: $(/bin/date) >> control.log
    (cd apache; ./control stop)
    (cd tomcat-site1; ./control stop)
    (cd tomcat-site2; ./control stop)
    (cd tomcat-cms; ./control stop)
    ;;

    restart)
    ./control stop
    sleep 5
    ./control start
    ;;

    start-hippo)
    echo === Starting Hippo CMS ===
    echo start hippo: $(/bin/date) >> control.log
    (cd tomcat-site1; ./control start)
    ;;

    stop-hippo)
    echo === Stopping Hippo CMS ===
    echo stop hippo: $(/bin/date) >> control.log
    (cd tomcat-site1; ./control stop)
    ;;

    restart-hippo)
    ./control stop-hippo
    sleep 5
    ./control start-hippo
    ;;

    logarchive)
    (cd apache; ./control logarchive)
    (cd tomcat; ./control logarchive)
    ;;

    *)
    echo invalid option
    ;;

esac
